.modal{
  background: rgba(0, 0, 0, 0.8) none repeat scroll 0% 0%;
}
#checkout{
  padding-top: 120px;
}
.orders,#checkout{
  width: 100%;
  position: relative;
  height: auto;
  float: left;
  z-index: 99;
}
.order-item .badge.badge-warning.text-dark{
  background: darkred;
  color: white;
}
.order-item-left-side{
  width: 200px;
  float: left;
}
.order-item-right-side{
  float: right;
  width: 100px;
}
.list-group-item{
  height:270px;
}
.list-orders{
  max-width: 500px;float: left;position: relative;
}
#checkout-section {
	position: relative;
	float: left;
	width: 100%;
}
.checkout-details{
  max-width: 400px;
  float: left;
  position: relative;
}